.welcome {
  display: flex;
  align-items: center;

  &__text {
    .welcome__text__welcome {
      color: var(--aqua);
    }

    .welcome__text__name {
      position: relative;
      display: inline-block;

      &:before {
        content: ' ';
        position: absolute;
        bottom: 0;
        border-radius: var(--br-50);
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--aqua);
      }
    }
  }
}