@use './variables' as *;
@use "./helpers" as *;

body {
  background-color: var(--dark);
  font-family: var(--Mons-Regu), sans-serif;
  color: var(--gray);
  max-width: 1930px;
  margin-inline: auto;
  font-size: rem(28);
  @include loptop
  {
    font-size: rem(24);
  }
  @include tablet {
    font-size: rem(22);
  }
  @include mobile {
    font-size: rem(20);
  }

  img {
    transition: var(--tr-slow);
  }

  &::-webkit-scrollbar {
    background-color: var(--dark);
    width: 10px;

    &-thumb {
      background-color: var(--aqua);
      border-radius: 2px;
      width: 5px;
    }
  }
}

body.dark {
  img {
    filter: brightness(75%);
  }
}

h1, h2{
  font-family: var(--Mons-Bold), serif;
  color: var(--gray);
  transition: var(--tr-slow);
  @include loptop {
    text-align: center;
    text-wrap: balance;
  }
}

h1 {
  @include loptop {
    font-size: rem(48);
  }
  @include mobile {
    font-size: rem(32);
  }
}

h2 {
  font-size: fluid(48, 24);
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 50px;
  @include loptop {
    margin-bottom: 30px
  }
  @include mobile {
    margin-bottom: 20px
  }
}

button {
  font-size: rem(24);
}

.active-f {
  display: flex !important;
  opacity: 100% !important;
  visibility: visible !important;
}

.active-b {
  display: block !important;
  opacity: 100% !important;
  visibility: visible !important;
}

section {
  margin-bottom: var(--spacing-section);
  padding-block: 20px;
  @include tablet {
    margin-bottom: var(--spacing-section-loptop);
    padding-block: 10px;
  }
  @include mobile {
    margin-bottom: var(--spacing-section-mobile);
  }
}